:root
{
	--green_primary: #156006;
	--green_secondary: #32d511;
	--lighter_background: #feffea;
	--border_color: #cecece;
}

html
{
	font-family: DejaVu Sans, sans-serif;
}

body
{
	margin: 0;
	background-image: url(bg2.jpg);
}

a
{
	text-decoration: none;
	color: var(--green_primary);
}

/*Inputs and buttons*/
button, [type=button], [type=submit], select
{
	border: solid 2px #00000000;
	background-color: var(--green_primary);
	color: var(--lighter_background);
	font-weight: 600;
	font-size: 15px;
	padding: 5px 12px;
	border-radius: 10px;
	height: auto;
	width: 195px;
	margin-bottom: 10px;
}

button, [type=button], [type=submit], select
{
	cursor: pointer;
}

select:focus-visible, [type=submit]:focus-visible
{
	border: solid 2px var(--green_secondary);
	outline: none;
	box-shadow: inset 0 0 1px 2px var(--green_secondary);
}

[type=submit]:focus-visible
{
	margin-bottom: 10px;
}

[type=time]
{
	cursor: text;
}

input
{
	margin: 6px 0;
	border: solid 3px var(--green_primary);
	border-radius: 10px;
	height: 26px;
	font-weight: 600;
}

textarea
{
	margin: 6px 0;
	border: solid 3px var(--green_primary);
	border-radius: 10px;
	padding: 10px;
	width: 600px;
	height: 200px;
}

textarea:focus-visible
{
	border: solid 3px var(--green_secondary);
	outline: none;
	box-shadow: inset 0 0 1px 2px var(--green_secondary);
}

input[type=text],
input[type=email],
input[type=password],
input[type=time],
input[type=number]
{
	padding: 0 10px;
	width: 170px;
}

input[type=checkbox]
{
	height: 15px;
	width: 15px;
	appearance: none;
	transition: 0.15s;
}

input[type=checkbox]:checked
{

	border: solid 3px var(--green_secondary);
	background-color: var(--green_primary);
}

input[type=button]
{
	cursor: pointer;
}

/*Works only on Chromium based browser.
Firefox must be satisfied default style*/
input[type=time]::-webkit-datetime-edit-hour-field:focus,
input[type=time]::-webkit-datetime-edit-minute-field:focus,
input[type=time]::-webkit-datetime-edit-second-field:focus,
input[type=time]::-webkit-datetime-edit-ampm-field:focus {
	background-color: var(--green_primary);
	color: white;
}

input:focus-visible
{
	margin: 6px 0;
	outline: none;
	border: solid 3px var(--green_secondary);
	border-radius: 10px;
	box-shadow: inset 0 0 1px 2px var(--green_secondary);
}

::selection
{
	background: var(--green_primary);
	color: white;
}

/*Other standard elements*/
label
{
	user-select: none;
}

label p
{
	margin: 10px 0 -22px 20px;
}

fieldset
{
	border: none;
}

legend
{
	margin-bottom: 10px;
	border-bottom: solid 4px var(--green_primary);
	user-select: none;
}

table
{
	border-collapse: collapse;
	border-style: hidden;
	box-shadow: 0 0 0 2px #000;
	border-radius: 10px;
}

td
{
	padding: 10px;
	border: 2px solid #000;
}

tr:first-child th:first-child { border-top-left-radius: 10px; }
tr:first-child th:last-child { border-top-right-radius: 10px; }

tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; }

tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }

tr:first-child td { border-top-style: solid; }
tr td:first-child { border-left-style: solid; }

.clear
{
	clear: both;
}

/*Navbar*/
#site_name
{
	margin: 16px 10px 10px 10px;
	float: left;
	font-family: DejaVu Sans, sans-serif;
	font-weight: 600;
}

#site_header
{
	position: sticky;
	background-color: var(--lighter_background);
}

#navbar
{
	margin: 0;
}

.navbar_button
{
	float: left;
	display: block;
	width: 80px;
	height: 25px;
	margin: 10px 5px;
	padding: 6px 8px;
	border-radius: 10px;
	background-color: var(--green_primary);
}

.navbar_button > a
{
	display: block;
	width: 80px;
	height: 25px;
	padding-top: 5px;
	color: white;
	text-align: center;
	font-weight: 600;
}

.navbar_button > ul
{
	display: none;
}

.navbar_button ul
{
	list-style-type: none;
}

.navbar_button:hover > ul
{
	display: block;
	width: 600px;
	margin-top: 1px;
	margin-left: -9px;
	padding: 10px 10px 0 10px;
	position: absolute;
	background-color: var(--lighter_background);
	font-weight: 600;
	border: 5px solid var(--border_color);
	border-top: 0;
	border-radius: 10px;
}

.navbar_text
{
	float: left;
	display: block;
	width: 80px;
	height: 15px;
	margin: 15px 5px;
	padding: 6px 8px;
	font-weight: 600;
	user-select: none;
}

.navbar_text ul
{
	list-style-type: none;
}

/*Navbar hover lists*/
.navbar_menu
{
	margin: 0 4px 6px 4px;
	list-style: none;
	font-size: 15px;
}

.navbar_menu a
{
	background-color: var(--lighter_background);
}

.category_row
{
	display: block;
	width: 600px;
}

.category_col
{
	display: block;
	width: 200px;
	float: left;
	background-color: var(--lighter_background);
}

#category:hover > ul td
{
	vertical-align: middle;
}

#category:hover > ul td li a
{
	display: flex;
	align-items: center;
	height: 25px;
}

.category_list
{
	margin-left: -45px;
	font-weight: 600;
}

/*Login button*/
#login_button
{
	float: right;
	margin-right: 10%;
	width: 120px;
}

#login_button a
{
	width: 120px;
}

#underline
{
	display: block;
	height: 5px;
	background-color: var(--border_color);
}

/*Main content*/
#content > div
{
	width: 79%;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	background-color: var(--lighter_background);
	border-radius: 30px;
}

.header
{
	margin: 5px 5px 5px 0;
	font-weight: 400;
	font-size: 20px;
}

.small_header
{
	margin: 5px 5px 5px 0;
	font-weight: 600;
	font-size: 16px;
}

.text
{
	display: block;
	margin: 5px 5px 5px 0;
	height: 65px;
	font-weight: 400;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*Recipe tile*/
.tile
{
	transition: 2s;
	display: block;
	width: 150px;
	height: 128px;
	float: left;
	margin-right: 16px;
	margin-bottom: 16px;
	border: 3px solid var(--border_color);
	background-image: linear-gradient(180deg, rgba(254,255,234,0) 60%, rgba(208, 208, 208,1) 100%);
	border-radius: 10px;
	padding: 10px;
}

 @keyframes tile_anim
{
	0%	 {background-image: linear-gradient(180deg, rgba(254,255,234,0) 60%, rgba(208, 208, 208,1) 100%)}
	100% {background-image: linear-gradient(180deg, rgba(254,255,234,0) 10%, rgba(208, 208, 208,1) 100%)}
} 

.tile:hover
{
	animation: tile_anim 0.25s linear 1;
	animation-fill-mode: forwards;
}

.tile > a
{
	display: block;
	width: 133px;
}

/*Recipe add step 1*/
.form_message
{
	margin-bottom: 15px;
	text-align: center;
}

.form_message > a
{
	display: inline;
}

.form
{
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

.form p
{
	margin: -25px 0 0 20px;
}

.click_here
{
	display: inline;
}

/*Recipe add step 2*/
#form_with_table
{
	margin-left: auto;
	margin-right: auto;
}

#form_with_table  *
{
	margin: 10px;
}

#ingredients_list_add_recipe
{
	border-collapse: collapse;
}

#add_row, #remove_row
{
	width: 75px;
}

/*Recipe page*/
#mark_and_favourite
{
	margin: 10px 0;
}

#mark_and_favourite *
{
	display: inline-block;
}

#mark_and_favourite select,
#mark_and_favourite input
{
	width: 66px;
}

#mark_and_favourite button
{
	width: 120px;
}

#favourite
{
	color: var(--green_primary);
}

.icon
{
	color: var(--green_primary);
	font-size: 32px;
	margin-top: -5px;
	margin-bottom: -5px;
}

#metadatas
{
	display: inline;
}

#info_box
{
	float: left;
}

#info_box td
{
	border: solid 0 black;
}

#info_box th
{
	padding: 5px;
}

#ingredients_list
{
	float: left;
	margin-left: 20px;
}

#ingredients_list td, #ingredients_list th, #ingredients_list_add_recipe td, #ingredients_list_add_recipe th
{
	border: solid 2px black;
	padding: 5px;
	text-align: center;
}

.label_for_blind
{
	visibility: hidden;
}